@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <h1>Forestry Automata</h1>
            <a href="https://github.com/LunaPixu/hackSheffieldGrowth" target="_blank"><image class="logo" src="/images/github-mark.svg/" height="32px"></image>GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
