@page "/"
@using Forestry.Components;
@using Automata;

<PageTitle>Home</PageTitle>

@code {
    // If valid cell was clicked, update it
    // Values are passed from the clicked cell to this method
    // col and row are used to identify the clicked cell
    private void ClickCell((int row, int col, int newVal) value)
    {
        Cells.Grid[value.row, value.col].Type = value.newVal;
    }

    // Initialise grid. This only happens on page load at fixed size atm. All sizes are supported (though really large sizes may not fit well).
    static int gridSize = 10;
    CellGrid Cells = new((gridSize, gridSize));
    static int pxGridSize = gridSize * 80;

    // When next button is clicked, step through cell automata
    private void NextStep() => Cells.Automata();
}
<div class="cell-grid" style="width: @(pxGridSize + "px")">
@for (int i = 0; i < Cells.Grid.GetLength(0); i++) {
    <div style="width: auto">
        @for (int j = 0; j < Cells.Grid.GetLength(1); j++) {
            (int row, int col) coords = (i, j);
            string bg;
            if ((i + j) % 2 == 0) {
                bg = "dark-cell";
            } else {
                bg = "light-cell";
            }
            <TreeCell age="@Cells.Grid[i,j].Type" bg="@bg" coords="@coords" Clicked=@ClickCell/>
        }
    </div>
}
</div>
<button class="important-button" @onclick="NextStep">Next Step</button>
<p>
    Welcome to Forestry Automata. A celluar automata but with trees!<br />
    To begin, simply click on any of the empty cells and click "Next Step". Clicking an empty cell will plant a seed that, over the next few steps, should grow into a tree.<br />
    If they are mature or close to mature, you can click a tree to chop it down leaving an empty cell behind.<br/>
    Mature trees will naturally plant their own seeds. Mature trees also cast shade on adjacent trees - too much shade and these trees will either stop growing or die.<br />
    Dead trees will completely remove adjacent living trees but subsequently revive as saplings.
</p>