@page "/"
@using Forestry.Components;

@code {
    ForestryAutomata automataGrid;
    int rows = 10;
    int cols = 10;

    // Call on grid to regenerate with user's preferred size
    private void GenerateGrid()
    {
        automataGrid.GenerateGrid();
    }
}

<PageTitle>Home</PageTitle>
<div class="grid-controls">
    <span>Width: </span>
    <input type="number" name="cols" @bind="cols" min="1"/>
    <span>Height: </span>
    <input type="number" name="rows" @bind="rows" min="1"/>
    <button @onclick="GenerateGrid">Generate Grid</button>
</div>
<ForestryAutomata @ref=automataGrid rows="@rows" cols="@cols"/>
<p>
    Welcome to Forestry Automata. A celluar automata but with trees!<br />
    To begin, simply click on any of the empty cells and click "Next Step". Clicking an empty cell will plant a seed that, over the next few steps, should grow into a tree.<br />
    If they are mature or close to mature, you can click a tree to chop it down leaving an empty cell behind.<br/>
    Mature trees will naturally plant their own seeds. Mature trees also cast shade on adjacent trees - too much shade and these trees will either stop growing or die.<br />
    Dead trees will completely remove adjacent living trees but subsequently revive as saplings.
</p>